HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/src/main/**/build/
**/src/test/**/build/

### VS Code ###
.vscode/
.gitignore
ly-common/pom.xml
ly-common/src/
ly-gateway/pom.xml
ly-gateway/src/
ly-item/ly-item-interface/pom.xml
ly-item/ly-item-interface/src/
ly-item/ly-item-service/pom.xml
ly-item/ly-item-service/src/
ly-item/pom.xml
ly-registry/pom.xml
ly-registry/src/
pom.xml
